#watchSample{
    width: 35em;
	background-size: 35em;
	float:right;
	
}
.dial{
    width: 5em;
    float: left;
    border-bottom: 3px solid transparent;
}
.diallast{
    width: 5em;
    border-bottom: 3px solid transparent;
}
.strap{
    width: 5em;
    float: left;
    border-bottom: 3px solid transparent;
}
.straplast{
    width: 5em;
    border-bottom: 3px solid transparent;
}
.wcase{
    width: 5em;
    float: left;
    border-bottom: 3px solid transparent;
}
.wcaselast{
    width: 5em;
    border-bottom: 3px solid transparent;
}
#submitLink{
    color: black;
    text-decoration: none;
}